* {
    padding: 0px;
    margin: 0px;
}

.header{
    background-color: #3F72AF;
    height: 51px;
}

.BarraNav{
    display: flex;
    align-items: center;
    height: 50px;
}

.Logo{
    height: 30px;
    padding-left: 10px;
}

.BarraNav a{
    display: flex;
    font-size: 14px;
    padding-right: 20px;
    font-family: "Black Han Sans";
    color: #F9F7F7;
    text-decoration: none;
}

.BarraNav a:first-of-type {
    margin-left: auto;
}

.BarraNav a:last-of-type {
    margin-right: 30px;
}